<%- include('partials/header'); %> 
<h1>Compose</h1>
<form action="/compose" method="post">
    <input type="text" placeholder="Title.." name="title"/>
    <textarea name="content" placeholder="Enter your content" rows="5" cols="144" ></textarea>
    <div><button type="submit">Post</button></div>
</form>
<%- include('partials/footer'); %> 